.display-form {
	border: 1px solid lightgrey;
	box-shadow: 1px 1px 3px grey;
	min-height: 450px;
	width: 100%;
	margin-top: 7%;
	background-color: #e8e8e8;
	padding: 10px;
}
.display-form p {
	text-align: center;
	margin: 20px 0;
	color: #303030;
}
