.h3-color-grey { color: #454545; }
.central {
	position: fixed;
	width: 100%;
}
.display-editor { 
	position: relative;
	overflow: auto;
	max-height: 450px;
}
.left, .right { padding: 55px 0; }
.input-field {
	border-bottom: 1px solid lightgrey;
	color: #343434;
	text-align: center;
	cursor: pointer;
	user-select: none;
}
.input-field:hover {
	background-color: #898989;
	color: white;
}
.input-field:active { box-shadow: inset 1px 1px 5px black; }
.border-dotted { border: 1px dotted lightgrey; }

.editor-field {
	position: relative;
	cursor: grab;
}

.logic-display-border {
	border-top: 1px solid #e9e9e9;
	border-bottom: 1px solid lightgrey;
	border-left: 1px solid lightgrey;
	border-right: 1px solid lightgrey;
	box-shadow: inset 2px 2px 8px grey;
}
.logic-display {
	height: 325px;
	overflow: auto;
	display: none;
}
.logic-button {
	background-image: url('../../assets/images/menu.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
	width: 20px;
	height: 20px;
	display: inline-block;
}
.logic-button:active{
	box-shadow: inset 1px 1px 3px grey;
	border-radius: 2px;
}
.active { display: block; }

.require-fields {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	list-style-type: none;
}
.require-fields li {
	position: relative;
	padding: 2px 25px 2px 2px;
	margin-right: 5px;
	margin-top: 3px;
	border: 1px solid lightgrey;
	box-shadow: 1px 1px 2px grey;
	border-radius: 10px;
	font-size: 13px;
	cursor: pointer;
}
.require-fields li:active { box-shadow: inset 1px 1px 3px grey; }
.required-dot {
	position: absolute;
	right: 6%;
	top: 33%;
	width: 7px;
	height: 7px;
	border: 1px solid silver;
	border-radius: 50%;
	background-color: red;
}
.required-dot-active { background-color: green; }

.add-if,
.parent-if {
	border: 1px solid lightgrey;
	text-align: center;
	padding: 5px 0;
	border-radius: 5px;
	margin-bottom: 7px;
}
.add-if {
	cursor: pointer;
	user-select: none;
}
.parent-if { position: relative; }
.add-if:active { box-shadow: inset 1px 1px 5px grey; }
.parent-if p,
.parent-if select {
	display: inline-block;
	padding: 5px;
	margin-right: 5px;
}
.parent-if select { border: 1px solid lightgrey; }
.close-if {
	display: block;
	position: absolute;
	top: 10%;
	right: 2%;
	width: 15px;
	height: 15px;
	background-image: url('../../assets/images/close.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
}

.alert {
	display: none;
	position: fixed;
	top: 9%;
	left: 18%;
	z-index: 999;
}