.product-list-display {
	position: relative;
	width: 100%;
	min-height: 450px;
	border: 1px solid lightgrey;
	box-shadow: 1px 1px 3px grey;
	margin-top: 6%;
	background-color: #e8e8e8;
	overflow: auto;
}

.data-detail { cursor: pointer; }
.detail-product-window,
.detail-filter-window,
.g-display {
	display: none;
	position: fixed;
	right: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(10,10,10,.6);
	z-index: 2;
}
.detail-container,
.filter-container {
	position: absolute;
	top: -15%;
	right: 10%;
	width: 80%;
	border: 1px solid lightgrey;
	box-shadow: 1px 1px 3px grey;
	margin-top: 7%;
	background-color: #e8e8e8;
	padding: 10px;
	overflow: auto;
	z-index: 50;
}

.close-detail,
.close-filter,
.detail-add,
.edit {
	display: block;
	position: fixed;
	top: 3%;
	right: 5%;
	width: 20px;
	height: 20px;
	background-image: url('../../assets/images/close.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
	z-index: 999;
}
.edit {
	right: 8%;
	background-image: url('../../assets/images/edit.png');
}
.detail-add {
	display: none;
	right: 11%;
	background-image: url('../../assets/images/add.png');
}

.filter,
.filter_off {
	background-image: url('../../assets/images/filter_on.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
	width: 20px;
	height: 20px;
	display: inline-block;
	border-radius: 2px;
	margin: 0 15px;
}
.filter_off { background-image: url('../../assets/images/filter_off.png'); }
.filter:active, .filter_off:active { box-shadow: inset 1px 1px 3px grey; }

.context,
.context-detail {
	display: none;
	position: fixed;
	width: 225px;
	max-height: 300px;
	background-color: #e8e8e8;
	box-shadow: 1px 1px 3px grey;
	border: 1px solid lightgrey;
	border-radius: 3px;
	z-index: 999;
	overflow: auto;
}

img {
	display: block;
	width: 200px;
	height: 200px;
	border: 1px solid lightgrey;
	box-shadow: 1px 1px 3px grey;
}

.add {
	position: fixed;
	top: 2%;
	right: 40%;
	width: 25px;
	height: 25px;
	background-image: url('../../assets/images/add.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
	z-index: 1;
}

.block { display: block; }
.range { display: inline; }

.g {
	position: absolute;
	top: 1%;
	left: 15%;
	max-width: 60%;
	max-height: 60%;
	border: 1px solid white;
}
.img-gallary {
	width: 100%;
	height: 100%;
}
.g-close {
	color: white;
	position: absolute;
	top: 2%;
	right: 3%;
	font-size: 26px;
	cursor: pointer;
}
.previus,
.updateImg {
	height: 50px;
	width: 50px;
}

.detail-container,
.filter-container {
	position: fixed;
	top: -13%;
	left: 0;
	width: 100%;
	height: 100%;
}

.modalSave {
	position: fixed;
	display: none;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 300px;
	height: 120px;
	z-index: 999;
	border: 1px solid lightgrey;
	box-shadow: 1px 1px 3px grey;
	background-color: white;
	border-radius: 2px;
}

.check-box {
	width: 15px;
	height: 15px;
	border: 1px solid grey;
	border-radius: 2px;
}
.checked { background-color: lightgreen; }
.form-bottom {
	float: left;
	width: 80%;
}

.bottom-hide { display: none; }
.bottom-block { display: block; }

.finder {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border: 1px solid lightgrey;
	background-color: white;
	box-shadow: 1px 1px 3px grey;
	width: 350px;
	height: 500px;
	z-index: 999;
}
.badge { cursor: pointer; }
.badge-active { 
	background-color: lightgreen;
	color: white;
}

.finderClose {
	display: block;
	position: fixed;
	top: 3%;
	right: 3%;
	width: 15px;
	height: 15px;
	background-image: url('../../assets/images/close.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
	z-index: 999;
}
.finder-element { cursor: pointer; }
.finder-element:hover { background-color: #e9e9e9; }
.valueList { 
	height: 100%;
	overflow: auto;
}

.public,
.not-public {
	display: block;
	width: 100%;
	height: 100%;
	border: 1px solid lightgrey;
	background-color: rgba(137, 250, 139, .6);
	font-size: 24px;
	text-align: center;
	color: black;
}

.remove {
	display: block;
	width: 100%;
	height: 50%;
	border: 1px solid lightgrey;
	background-color: rgba(242, 133, 131, .6);
	font-size: 24px;
	text-align: center;
	color: black;
}

.addEntity {
	height: 30px;
	width: 100%;
	z-index: 999;
	background-color: #00CC66;
	border: 1px solid lightgrey;
	cursor: pointer;
	color: white;
}
.addEntity:hover { background-color: #33CC66; }

.address-value {
	padding: 10px 0;
	border-bottom: 1px solid lightgrey;
	cursor: pointer;
}

.display-address {
	display: none;
	width: 510px;
	height: 250px;
	z-index: 999;
	position: absolute;
	background-color: white;
	overflow: auto;
	border: 1px solid lightgrey;
	box-shadow: 1px 1px 3px grey;
}
