.s-central {
	max-height: 90%;
	max-width: 94%;
	background-color: #e8e8e8;
	box-shadow: 1px 1px 3px grey;
	border: 1px solid lightgrey;
	overflow: auto;
}

.admin-component-add {
	margin: 0 auto;
	width: 80%;
	height: 30px;
	border: 1px solid lightgrey;
	border-radius: 3px;
	text-align: center;
	cursor: pointer;
	user-select: none;
}
.admin-component-add:active { box-shadow: inset 1px 1px 3px grey; }
.admin-component-add>span {
	font-size: 18px;
	font-weight: bold;
}

.new-field {
	position: relative;
	margin: 10px auto;
	width: 80%;
}

.close-field {
	position: absolute;
	top: 30%;
	right: -5%;
	width: 15px;
	height: 15px;
	background-image: url('../../assets/images/close.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
}

.open {
	position: absolute;
	top: 10px;
	right: 15px;
	width: 18px;
	height: 18px;
	background-image: url('../../assets/images/menu.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
}
.close-dipslay { height: 0px; }
.open-display {
	width: 100%;
	min-height: 350px;
	box-shadow: inset 1px 1px 3px grey;
	overflow: auto;
}

.access-close { display: none; }
.access-open { display: block; }
.access-block {
	display: flex;
	justify-content: space-evenly;
}

.img-blocks {
	width: 20px;
	height: 20px;
	border: 1px solid lightgrey;
	border-radius: 2px;
	background-color: red;
	cursor: pointer;
}

.asc-pic {
	display: block;
	width: 20px;
	height: 20px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
.asc-editor { background-image: url('../../assets/images/edit.png'); }
.asc-add-product { background-image: url('../../assets/images/add.png'); }
.asc-table { background-image: url('../../assets/images/filter.png'); }
.asc-block {
	display: block;
	width: 15px;
	height: 15px;
	border: 1px solid grey;
	border-radius: 3px;
	cursor: pointer;
}
.asc-block-choose { background-color: lightgreen; }
.go-rules {
	position: absolute;
	top: 50px;
	right: 45px;
	display: block;
	width: 15px;
	height: 15px;
	border: 1px solid grey;
	border-radius: 50%;
	cursor: pointer;
	background-color: red;
}
.go-choose { background-color: lightgreen; }
