* {
	font-family: Ubuntu;
	font-size: 15px;
}
.mainborder {
	position: fixed;
	top: 0;
	width: 3%;
	height: 100%;
	background-color: #e8e8e8;
	box-shadow: 1px 1px 3px grey;
	z-index: 1;
	text-align: center;
}
.topborder {
	position: fixed;
	top: 0;
	right: 0;
	width: 95%;
	min-height: 50px;
	background-color: #e8e8e8;
	box-shadow: 1px 1px 3px grey;
	z-index: 1;
	margin-left: 3%;
}
.sideborder {
	position: fixed;
	top: 65px;
	right: 0;
	width: 20%;
	min-height: 350px;
	max-height: 500px;
	background-color: #e8e8e8;
	box-shadow: 1px 1px 3px grey;
	overflow: auto;
	z-index: 1;
}
.central {
	width: 100%;
	min-height: 500px;
	margin-top: 65px;
	z-index: 0;
}

.links1,
.links2,
.links3,
.links4 {
	margin: 15px auto;
	width: 20px;
	height: 20px;
	background-image: url('../../assets/images/edit.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
}
.links2 { background-image: url('../../assets/images/add.png'); }
.links3 { background-image: url('../../assets/images/filter.png'); }
.links4 { background-image: url('../../assets/images/setting.png'); }
.links:hover {
	background-color: #898989;
	color: white;
}
.links:active {
	box-shadow: inset 1px 1px 5px black;
}

.wait {
	display: none;
	position: fixed;
	right: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(10,10,10,.6);
	color: white;
	z-index: 2;
}
.wait>span {
	position: absolute;
	top: 35%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.display { margin-left: 3%; }

